@charset "iso-8859-1";
 /* style sheet for VC Building web page 
 * Greg Kelley
 * 2-2019
 * Version 2.0
 */

body
{
    font-family: Helvetica, Arial;
    /* color: #000000;  */
    background: #FFF;
}

.card-img-top {
    height: 200px;
}